.fries-containerfries {
  position: absolute;
  width: calc(100% + 100px);
  top: 0px;
  height: 100vh;
  left: -50px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.secondesection .fries-containerfries {
  top: -200px;
  height: calc(100% - 200px);
}

.fries-containerfriesinne {
  width: 100%;
  height: 100%;
}

.fry {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  will-change: transform, opacity;
}

.fourthsection .whitebgbox {
  position: relative;
}

.fourthsection .whitebgbox .fries-containerfries {
  height: 100%;
  overflow: hidden;
}
