#containerfriesanimation {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.dot {
    width: 150px;
    height: 250px;
    position: absolute;
    background: url(../assets/newfrie/one.webp);
    background-size: contain;
    background-repeat: no-repeat;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dot:nth-child(2),
.fries:nth-child(2) {
    background: url(../assets/newfrie/two.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


.dot:nth-child(3),
.fries:nth-child(3) {
    background: url(../assets/newfrie/three.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;

}


.dot:nth-child(4),
.fries:nth-child(4) {
    background: url(../assets/newfrie/four.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.dot:nth-child(5),
.fries:nth-child(5) {
    background: url(../assets/newfrie/five.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


.dot:nth-child(6),
.fries:nth-child(6) {
    background: url(../assets/newfrie/six.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


.dot:nth-child(7),
.fries:nth-child(7) {
    background: url(../assets/newfrie/seven.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.dot:nth-child(8),
.fries:nth-child(8) {
    background: url(../assets/newfrie/eight.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.dot:nth-child(9),
.fries:nth-child(9) {
    background: url(../assets/newfrie/nine.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}


.dot:nth-child(10),
.fries:nth-child(10) {
    background: url(../assets/newfrie/ten.webp);
    width: 150px;
    height: 250px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.fourthsection .whitebgbox #containerfriesanimation{overflow: hidden;}










#friesAnimationContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .fries {
    position: absolute;
    background: url(../assets/newfrie/ten.webp);
    width: 150px;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  