.roundtext h3{right:-7vw;}
.roundtext h2{left:-12vw;}
button.skipvideo.hidden{display:none;}
.rightsidebullets{display:none!important;}

@media (hover:none){
    .cursor{display:none;}
    .cursor2{display:none;}
    .accordion-content p{width:-moz-calc(100% - 0em);width:calc(100% - 0em);max-width:100%;padding-left:0px;padding-right:0px;}
    .accordion-item button.accordion-header:hover{width:-moz-calc(100% - 0em);width:calc(100% - 0em);}
    .accordion-item button.accordion-header:hover{-webkit-transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);-moz-transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);}
    .accordion-item button.accordion-header:hover span.icon{right:0;}
}

@media screen and (min-width:2560px){
    .fl-tests .swiper-pagination{bottom:0px;}
    .wharpeoplebox p,.wharpeoplebox b{font-size:-moz-calc(14/var(--vw)*var(--multiplier));font-size:calc(14/var(--vw)*var(--multiplier));}
    .banner_overlay{max-width:75%;width:100%;}
    .banner_title_text,.banner_title_text h1{max-width:70%;width:100%;}
    .banner_content_text,.whitewithvideomainbox,.main-accordian,.whatpeople-section,.thirdesection .whitewithvideomainbox,#section5 .whitewithvideomainboxs,.fourthsection .whitebgbox .menudynamic.onlydesktop,.sixthsection .whitebgbox .whitewithvideomainboxss,.newfooter .newcontainer,.sixthsection .gradient-purple .whitebgbox h4{max-width:70%;width:100%;}
    .thirdesection .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:1000px;width:100%;}
    .sixthsection .whitewithvideomainboxss .leftvideobox{max-width:45%;width:45%;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;}
    .coolBeans:before{bottom:-11rem;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist h5{max-width:100%;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist p,#section5 .whitebgbox .whitewithvideomainboxs .righttextbox p{max-width:100%;}
    .sixthsection .whitewithvideomainboxss .righttextbox{max-width:50%;width:50%;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;}
    #section5 .whitebgbox .whitewithvideomainboxs .leftvideobox{max-width:50%;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;width:50%;position:relative;}
    #section5 .whitebgbox .whitewithvideomainboxs .righttextbox{max-width:50%;width:50%;padding-left:6%;position:relative;}
    .whitebgbox .whitewithvideomainbox .righttextbox .locationmaoaddress{max-width:70%;width:100%;}
    .secondesection .wrappertest .gradient-purple p,.thirdesection p.locationescription,.fourthsection .gradient-purple p,.fifthesection p.onzeimpactdescription,.sixthsection .gradient-purple p.onzefriendescription{max-width:70%;width:100%;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist{height:-moz-calc(100% - 80px);height:calc(100% - 80px);}
    .righttiktoktext{right:-100px;bottom:-340px;}
    .lefttiktoktext{left:-50px;bottom:-340px;}
    .bottomsection .scroll-down p{max-width:100%!important;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small{font-size:-moz-calc(12 / var(--vw)* var(--multiplier))!important;font-size:calc(12 / var(--vw)* var(--multiplier))!important;}
    body .fourthsection .menudynamic.onlydesktop .menu-section .friet-category h2,body .fourthsection .menudynamic.onlydesktop .menu-section .snack-category h2,.fourthsection .menudynamic.onlydesktop .menu-section .drinks-category h2{font-size:-moz-calc(20 / var(--vw)* var(--multiplier))!important;font-size:calc(20 / var(--vw)* var(--multiplier))!important;}
    .banner_content_text p{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    a.banner_bottombtn{font-size:-moz-calc(14/var(--vw)*var(--multiplier));font-size:calc(14/var(--vw)*var(--multiplier));}
    .bannerrotate_text{font-size:-moz-calc(22/var(--vw)*var(--multiplier));font-size:calc(22/var(--vw)*var(--multiplier));}
    .banner_title_text,.banner_title_text h1{font-size:-moz-calc(60/var(--vw)*var(--multiplier));font-size:calc(60/var(--vw)*var(--multiplier));}
    a.locatebutton{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .headernew nav ul li a{font-size:-moz-calc(15/var(--vw)*var(--multiplier));font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .gradient-purple h4,.fourthsection .gradient-purple h4{font-size:-moz-calc(106/var(--vw)*var(--multiplier));font-size:calc(106/var(--vw)*var(--multiplier));}
    .gradient-purple p,.fourthsection .gradient-purple p,.fourthsection .whitebgbox .whitewithvideomainbox .righttextbox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox p,.accordion-item button.accordion-header,.gradient-purple .accordion-content p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whatpeople-section h6,.main-accordian h6{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .wharpeoplebox p{font-size:-moz-calc(17/var(--vw)*var(--multiplier));font-size:calc(17/var(--vw)*var(--multiplier));}
    .wharpeoplebox b{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox h5{font-size:-moz-calc(58/var(--vw)*var(--multiplier));font-size:calc(58/var(--vw)*var(--multiplier));max-width:-webkit-fit-content;max-width:-moz-fit-content;max-width:fit-content;}
    .locationaddtext ul li{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox .routbtn{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox h5{margin-bottom:15px;line-height:1.2;}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox h3{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));line-height:50px;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist h5{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));line-height:1.2em;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist p,#section5 .whitebgbox .whitewithvideomainboxs .righttextbox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    #section5 .whitebgbox .whitewithvideomainboxs .righttextbox h3{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    #section5 .whitebgbox .whitewithvideomainbox .leftvideobox h4{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .binimageboxmain .binimageboxieft h6{font-size:-moz-calc(17/var(--vw)*var(--multiplier));font-size:calc(17/var(--vw)*var(--multiplier));}
    .sixthsection .whitebgbox .socialtitle h3{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));}
    a.Whatsappbtn{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));height:auto;padding:10px;}
    .sixthsection .gradient-purple .whitebgbox .appcontainers h4{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .sixthsection .whitewithvideomainboxss .righttextbox h3#animated-text{font-size:-moz-calc(33/var(--vw)*var(--multiplier));font-size:calc(33/var(--vw)*var(--multiplier));}
    .sixthsection .whitewithvideomainboxss .leftvideobox .leftvideoboxinner form button{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .locationbox h6{font-size:-moz-calc(33/var(--vw)*var(--multiplier));font-size:calc(33/var(--vw)*var(--multiplier));}
    .bottomsection .scroll-down p,.scroll-down p{font-size:18px;}
    .fourthsection .menudynamic.onlydesktop .menu-section .friet-category h2,.fourthsection .menudynamic.onlydesktop .menu-section .snack-category h2,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item summary{font-size:-moz-calc(24/var(--vw)*var(--multiplier))!important;font-size:calc(24/var(--vw)*var(--multiplier))!important;}
    .fourthsection .menudynamic.onlydesktop .menu-section .drinks-category h2{font-size:-moz-calc(20/var(--vw)*var(--multiplier))!important;font-size:calc(20/var(--vw)*var(--multiplier))!important;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small,.fourthsection .whitebgbox .menudynamic.onlydesktop .innermenudynamicone .innermenudynamictwo .drinks-category .menu-item div:last-child .menutextdetails p,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails span,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p span,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item summary span{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    #section2 .whatpeople-section .fl-tests{width:100%;overflow:hidden;margin:60px 0 10px;width:-moz-calc(100vw - 0px);width:calc(100vw - 0px);position:relative;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;}
    #section2 .whatpeople-section .fl-tests .swiper-slide{text-align:center;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist{height:-moz-calc(100% - 80px);height:calc(100% - 80px);}
    .bottomsection .scroll-down p,.scroll-down p{height:22px;position:absolute;bottom:15px;margin:0;width:110px;}
}

@media (min-width:2500px) and (max-width:3000px){
    .fl-tests .swiper-pagination{bottom:0px;}
    .wharpeoplebox p,.wharpeoplebox b{font-size:-moz-calc(14/var(--vw)*var(--multiplier));font-size:calc(14/var(--vw)*var(--multiplier));}
    .banner_overlay{max-width:75%;width:100%;}
    .banner_title_text,.banner_title_text h1{max-width:70%;width:100%;}
    .banner_content_text{max-width:70%;width:100%;}
    .whitebgbox .whitewithvideomainbox .righttextbox .locationmaoaddress{max-width:70%;width:100%;}
    .secondesection .wrappertest .gradient-purple p,.thirdesection p.locationescription,.fourthsection .gradient-purple p,.fifthesection p.onzeimpactdescription,.sixthsection .gradient-purple p.onzefriendescription{max-width:70%;width:100%;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist{height:-moz-calc(100% - 80px);height:calc(100% - 80px);}
    .righttiktoktext{right:-100px;bottom:-200px;}
    .lefttiktoktext{left:-50px;bottom:-140px;}
    .bottomsection .scroll-down p{max-width:100%!important;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small{font-size:-moz-calc(12 / var(--vw)* var(--multiplier))!important;font-size:calc(12 / var(--vw)* var(--multiplier))!important;}
    body .fourthsection .menudynamic.onlydesktop .menu-section .friet-category h2,body .fourthsection .menudynamic.onlydesktop .menu-section .snack-category h2,.fourthsection .menudynamic.onlydesktop .menu-section .drinks-category h2{font-size:-moz-calc(20 / var(--vw)* var(--multiplier))!important;font-size:calc(20 / var(--vw)* var(--multiplier))!important;}



    .banner_content_text p {
        font-size: -moz-calc(20 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(20 / var(--vw)* var(--multiplier) - 25%);
    }



}

@media (max-width:767px){
    #section2 .wrappertest,#section3 .wrappertest,#section5 .wrappertest,#section6 .wrappertest,#section4 .wrappertest{z-index:99;}
    .cursor,.cursor2,.arrowimage{display:none;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox ul.onzeimpacttwolist li{width:100%;}
    a.Whatsappbtn{height:auto;}
    .img-container,.img-containerss{height:300px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;}
    .image-wrapper,.threeboxonzeimpactlist.image-wrappers{max-width:min(90vw,200px);height:min(70vh,250px);}
    .secondesection .gradient-threebox .image-wrapper:nth-child(2) .threeboxleftlogobar.lastbottomimg,.fifthesection .gradient-threebox .image-wrappers:nth-child(2) .threeboxleftlogobar.lastbottomimg{position:absolute;z-index:2;right:0;bottom:22px;top:93%;left:94%;-webkit-transform:inherit;-ms-transform:inherit;-moz-transform:inherit;-o-transform:inherit;transform:inherit;width:50px;height:auto;}
    .secondesection .gradient-threebox .image-wrapper:nth-child(1) .threeboxleftlogobar,.fifthesection .gradient-threebox .image-wrappers:nth-child(1) .threeboxleftlogobar{position:absolute;right:inherit;top:-15px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:9;width:50px;}
}


@media (min-width:1921px) and (max-width:4000px){
    .image-wrapper,.image-wrappers{width:100%;max-width:450px;height:600px;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;/*                        overflow: hidden;*/position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
    .banner_title_text,.banner_title_text h1{max-width:80%;}
    .secondesection .wrappertest .gradient-purple p,.thirdesection p.locationescription,.fourthsection .gradient-purple p,.fifthesection p.onzeimpactdescription,.sixthsection .gradient-purple p.onzefriendescription{max-width:70%;width: 100%;}
    .secondesection .whitebgbox .whitewithvideomainbox .righttextbox h3{max-width:40%;}
    .locatebutton.coolBeans.whatsapp-btn{color:#0D1E4D;position:relative;z-index:2;padding-left:25px;padding-right:25px;padding-top:10px;padding-bottom:10px;}
    .banner_content_text{max-width:100%;}
    .banner_title_text,.banner_title_text h1{font-size:-moz-calc(60/var(--vw)*var(--multiplier));font-size:calc(60/var(--vw)*var(--multiplier));}
    .bannerrotate_text{right:-3vw;}
    a.banner_bottombtn{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));width:100%;padding:0px 25px;height:auto;line-height:56px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center;max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;}
    .bannerrotate_text{max-width:20%;line-height:58px;right:-10vw;}
    .scroll-down .icon-scroll{bottom:5px;}
    a.locatebutton{max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;width:100%;padding:10px 25px;}
    .locationaddtext ul li{max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;}
    .whitebgbox .whitewithvideomainbox .righttextbox .routbtn{width:-webkit-max-content;width:-moz-max-content;width:max-content;padding:3px 35px;height:inherit;line-height:47px;}
    a.Whatsappbtn{font-size:-moz-calc(23/var(--vw)*var(--multiplier));font-size:calc(23/var(--vw)*var(--multiplier));height:auto;padding:20px;}
    .fl-tests .swiper-slide .module{margin:0;max-width:-moz-calc(100% - 50px);max-width:calc(100% - 50px);width:-moz-calc(100% - 50px);width:calc(100% - 50px);-webkit-box-flex:0;-ms-flex:0 0 calc(100% - 50px);-webkit-flex:0 0 calc(100% - 50px);-moz-box-flex:0;flex:0 0 calc(100% - 50px);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;}
    .fl-tests .module .wharpeoplebox{width:100%;max-width:100%;}
    .sixthsection .appcontainers{padding-bottom:0px;padding:200px 0;}
    .sixthsection  .overlaybannehand-bottoms,.sixthsection .overlaybannehand-bottomsmenu{bottom:107px;background-position:center bottom;}
    .sixthsection  .overlaybannehand-bottoms{bottom:31px;background-position:center bottom;}
    .banner_overlay{max-width:70%;}
}


@media (min-width:2550px) and (max-width:2560px){
    .sixthsection  .overlaybannehand-bottoms{bottom:20px;background-position:center bottom;}
}


@media (min-width:1501px) and (max-width:1921px){
    .image-wrapper,.image-wrappers{width:100%;max-width:450px;height:600px;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;/*                        overflow: hidden;*/position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
    .banner_title_text h1,.banner_title_text{max-width:1030px;}
    .roundtext h3{right:-7vw;}
    .roundtext h2{left:-7vw;}
    .en .roundtext-onzelocation h2{left:-7vw;}
    .nl .roundtext h2{left:-12vw;}
    .de .roundtext h3{right:-20vw;}
    .de .roundtext h2{left:-15vw;}
    .de .roundtext-hetmenu h3{right:-27vw;line-height:120%;}
    .de .roundtext-hetmenu h2{left:-1vw;}
    .de .roundtext-impact h3{right:-25vw;line-height:120%;}
    .de .roundtext-impact h2{left:-8vw;}
    .de .roundtext-getintouch h3{right:-27vw;}
    .de .roundtext-getintouch h2{left:-22vw}
    .de .roundtext-impact h2,.de .roundtext-impact h3{font-size:-moz-calc(40px + (130 - 80) * ((100vw - 300px) / (1600 - 300)));font-size:calc(40px + (130 - 80) * ((100vw - 300px) / (1600 - 300)));}
    .roundtext h2,.roundtext h3{font-size:-moz-calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));font-size:calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));}
    .bannerrotate_text{right:-50px;}
    .fl-tests .swiper-slide .module{margin:0;max-width:-moz-calc(100% - 50px);max-width:calc(100% - 50px);width:-moz-calc(100% - 50px);width:calc(100% - 50px);-webkit-box-flex:0;-ms-flex:0 0 calc(100% - 50px);-webkit-flex:0 0 calc(100% - 50px);-moz-box-flex:0;flex:0 0 calc(100% - 50px);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;}
    .fl-tests .module .wharpeoplebox{width:100%;max-width:100%;}
}


@media (min-width:1201px) and (max-width:1600px){
    .roundtext-onzelocation h2,.roundtext-onzelocation h3,.roundtext-getintouch h2,.roundtext-getintouch h3,.roundtext-hetmenu h2,.roundtext-hetmenu h3,.roundtext-impact h2,.roundtext-impact h3{font-size:clamp(20px,10vw,80px)!important;}
    .en .roundtext-onzelocation h2{left:-12%!important;}
    .en .roundtext-hetmenu h2{position:absolute;left:0vw;top:58px;z-index:1;margin:0;}
    .en .roundtext-hetmenu h3{position:absolute;right:-5vw;bottom:0;margin:0;}
    .en .roundtext-impact h2{position:absolute;left:-5vw;top:58px;z-index:1;margin:0;}
    .en .roundtext-impact h3{position:absolute;right:-9vw;bottom:0;margin:0;}
    .en .roundtext-getintouch h2{position:absolute;left:-5vw;top:58px;z-index:1;margin:0;}
    .en .roundtext-getintouch h3{position:absolute;right:-15vw;bottom:0;margin:0;text-align:left!important;}
    .nl .roundtext-hetmenu h2{position:absolute;left:-5vw;top:58px;z-index:1;margin:0;}
    .nl .roundtext-hetmenu h3{position:absolute;right:-6vw;bottom:0;margin:0;}
    .nl .roundtext-impact h2{position:absolute;left:-7vw;top:58px;z-index:1;margin:0;}
    .nl .roundtext-impact h3{position:absolute;right:-8vw;bottom:0;margin:0;}
    .bannerrotate_text{right:-3vw;}
    .arrowimage{position:absolute;right:-39px;top:33px;width:60px;-webkit-transform:rotate(20deg);-ms-transform:rotate(20deg);-moz-transform:rotate(20deg);-o-transform:rotate(20deg);transform:rotate(20deg);}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox img {right: -7vw;}
}


@media (min-width:1200px){
    .banner_content_text p{font-size:-moz-calc(20/var(--vw)*var(--multiplier));font-size:calc(20/var(--vw)*var(--multiplier));}
    a.banner_bottombtn{font-size:-moz-calc(14/var(--vw)*var(--multiplier));font-size:calc(14/var(--vw)*var(--multiplier));}
    .bannerrotate_text{font-size:-moz-calc(22/var(--vw)*var(--multiplier));font-size:calc(22/var(--vw)*var(--multiplier));}
    .banner_title_text,.banner_title_text h1{font-size:-moz-calc(60/var(--vw)*var(--multiplier));font-size:calc(60/var(--vw)*var(--multiplier));}
    a.locatebutton{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .headernew nav ul li a{font-size:-moz-calc(15/var(--vw)*var(--multiplier));font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .gradient-purple h4,.fourthsection .gradient-purple h4{font-size:-moz-calc(106/var(--vw)*var(--multiplier));font-size:calc(106/var(--vw)*var(--multiplier));}
    .gradient-purple p,.fourthsection .gradient-purple p,.fourthsection .whitebgbox .whitewithvideomainbox .righttextbox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox p,.accordion-item button.accordion-header,.gradient-purple .accordion-content p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whatpeople-section h6,.main-accordian h6{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .wharpeoplebox p{font-size:-moz-calc(17/var(--vw)*var(--multiplier));font-size:calc(17/var(--vw)*var(--multiplier));}
    .wharpeoplebox b{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox h5{font-size:-moz-calc(58/var(--vw)*var(--multiplier));font-size:calc(58/var(--vw)*var(--multiplier));max-width:-webkit-fit-content;max-width:-moz-fit-content;max-width:fit-content;}
    .locationaddtext ul li{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox .routbtn{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .whitebgbox .whitewithvideomainbox .righttextbox h5{margin-bottom:15px;line-height:1.2;}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox h3{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));line-height:50px;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist h5{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));line-height:1.2em;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist p,#section5 .whitebgbox .whitewithvideomainboxs .righttextbox p{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    #section5 .whitebgbox .whitewithvideomainboxs .righttextbox h3{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    #section5 .whitebgbox .whitewithvideomainbox .leftvideobox h4{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .binimageboxmain .binimageboxieft h6{font-size:-moz-calc(17/var(--vw)*var(--multiplier));font-size:calc(17/var(--vw)*var(--multiplier));}
    .sixthsection .whitebgbox .socialtitle h3{font-size:-moz-calc(26/var(--vw)*var(--multiplier));font-size:calc(26/var(--vw)*var(--multiplier));}
    a.Whatsappbtn{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));height:auto;padding:10px;}
    .sixthsection .gradient-purple .whitebgbox .appcontainers h4{font-size:-moz-calc(41/var(--vw)*var(--multiplier));font-size:calc(41/var(--vw)*var(--multiplier));}
    .sixthsection .whitewithvideomainboxss .righttextbox h3#animated-text{font-size:-moz-calc(33/var(--vw)*var(--multiplier));font-size:calc(33/var(--vw)*var(--multiplier));}
    .sixthsection .whitewithvideomainboxss .leftvideobox .leftvideoboxinner form button{font-size:-moz-calc(16/var(--vw)*var(--multiplier));font-size:calc(16/var(--vw)*var(--multiplier));}
    .locationbox h6{font-size:-moz-calc(33/var(--vw)*var(--multiplier));font-size:calc(33/var(--vw)*var(--multiplier));}
    .bottomsection .scroll-down p,.scroll-down p{font-size:18px;}
    .fourthsection .menudynamic.onlydesktop .menu-section .friet-category h2,.fourthsection .menudynamic.onlydesktop .menu-section .snack-category h2,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item summary{font-size:-moz-calc(24/var(--vw)*var(--multiplier))!important;font-size:calc(24/var(--vw)*var(--multiplier))!important;}
    .fourthsection .menudynamic.onlydesktop .menu-section .drinks-category h2{font-size:-moz-calc(20/var(--vw)*var(--multiplier))!important;font-size:calc(20/var(--vw)*var(--multiplier))!important;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small,.fourthsection .whitebgbox .menudynamic.onlydesktop .innermenudynamicone .innermenudynamictwo .drinks-category .menu-item div:last-child .menutextdetails p,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails span,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p span,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item summary span{font-size:-moz-calc(18/var(--vw)*var(--multiplier));font-size:calc(18/var(--vw)*var(--multiplier));}
    #section2 .whatpeople-section .fl-tests{width:100%;overflow:hidden;margin:60px 0 10px;width:-moz-calc(100vw - 0px);width:calc(100vw - 0px);position:relative;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;}
    #section2 .whatpeople-section .fl-tests .swiper-slide{text-align:center;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist{height:-moz-calc(100% - 80px);height:calc(100% - 80px);}
    .bottomsection .scroll-down p,.scroll-down p{height:22px;position:absolute;bottom:15px;margin:0;width:110px;}
}




@media (min-width:2100px) and (max-width:5000px){
    

    .banner_content_text p {
        font-size: -moz-calc(20 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(20 / var(--vw)* var(--multiplier) - 25%);
    }

    a.banner_bottombtn {
        font-size: -moz-calc(14 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(14 / var(--vw)* var(--multiplier) - 25%);
    }

    .bannerrotate_text,
    .whitebgbox .whitewithvideomainbox .righttextbox h3 {
        font-size: -moz-calc(22 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(22 / var(--vw)* var(--multiplier) - 25%);
    }

    .headernew nav ul li a {
        font-size: -moz-calc(15 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(16 / var(--vw)* var(--multiplier) - 25%);
    }

    .gradient-purple p, 
    .fourthsection .gradient-purple p, 
    .fourthsection .whitebgbox .whitewithvideomainbox .righttextbox p {
        font-size: -moz-calc(18 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(18 / var(--vw)* var(--multiplier) - 25%);
    }

    .whitebgbox .whitewithvideomainbox .righttextbox h5 {
        font-size: -moz-calc(58/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(58/var(--vw)*var(--multiplier) - 25%);
    }

    .whitebgbox .whitewithvideomainbox .righttextbox p, 
    .accordion-item button.accordion-header, 
    .gradient-purple .accordion-content p {
        font-size: -moz-calc(18/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(18/var(--vw)*var(--multiplier) - 25%);
    }

    .secondesection .wrappertest .gradient-purple p.onzeptag
    {
        max-width: 100%;
        width: 100%;
    }

    .wharpeoplebox b {
        font-size: -moz-calc(16/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(16/var(--vw)*var(--multiplier) - 25%);
    }
    
    a.locatebutton {
        font-size: -moz-calc(16 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(16 / var(--vw)* var(--multiplier) - 25%);
    }

    .locationaddtext ul li {
        font-size: -moz-calc(18 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(18 / var(--vw)* var(--multiplier) - 25%);
    }

    .whitebgbox .whitewithvideomainbox .righttextbox .routbtn {
        font-size: -moz-calc(16 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(16 / var(--vw)* var(--multiplier) - 25%);
    }

    .fourthsection .whitebgbox .menudynamic.onlydesktop ul.categotyfilter li button
    {
        font-size: -moz-calc(18 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(18 / var(--vw)* var(--multiplier) - 25%);
    }

    .fourthsection .whitebgbox .menudynamic.onlydesktop {
        max-width: 1332px;
    }

    .fourthsection .menudynamic.onlydesktop .menu-section .friet-category h2
    {
        font-size: -moz-calc(24 / var(--vw)* var(--multiplier) - 25%) !important;
        font-size: calc(24 / var(--vw)* var(--multiplier) - 25%) !important;
    }

    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p,
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small
    {
        font-size: -moz-calc(18 / var(--vw)* var(--multiplier) - 25%);
        font-size: calc(18 / var(--vw)* var(--multiplier)- 25%);
    }

    .fourthsection .menudynamic.onlydesktop .menu-section .snack-category h2
    {
        font-size: -moz-calc(24 / var(--vw)* var(--multiplier) - 25%) !important;
        font-size: calc(24 / var(--vw)* var(--multiplier) - 25%) !important;
    }

    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p, 
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small, 
    .fourthsection .whitebgbox .menudynamic.onlydesktop .innermenudynamicone .innermenudynamictwo .drinks-category .menu-item div:last-child .menutextdetails p, 
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails span, 
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p span, 
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item summary span {
        font-size: -moz-calc(18/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(18/var(--vw)*var(--multiplier) - 25%) ;
    }

    .fourthsection .menudynamic.onlydesktop .menu-section .drinks-category h2 {
        font-size: -moz-calc(24/var(--vw)*var(--multiplier) - 25%)!important;
        font-size: calc(24/var(--vw)*var(--multiplier) - 25%)!important;
    }

    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist p, #section5 .whitebgbox .whitewithvideomainboxs .righttextbox p {
        font-size: -moz-calc(18/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(18/var(--vw)*var(--multiplier) - 25%);
    }

    #section5 .whitebgbox .whitewithvideomainbox .righttextbox .onzeimpacttwolist li .onzeimpacttwolistlist h5 {
        font-size: -moz-calc(26/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(26/var(--vw)*var(--multiplier) - 25%);
        line-height: 1.2em;
    }

    #section5 .whitebgbox .whitewithvideomainboxs .righttextbox h3 {
        font-size: -moz-calc(41/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(41/var(--vw)*var(--multiplier) - 25%);
    }

    .binimageboxmain .binimageboxieft h6 {
        font-size: -moz-calc(17/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(17/var(--vw)*var(--multiplier) - 25%);
    }

    .gradient-purple h4, .fourthsection .gradient-purple h4 {
        font-size: -moz-calc(106/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(106/var(--vw)*var(--multiplier) - 25%);
    }


    .sixthsection .whitewithvideomainboxss .righttextbox h3#animated-text {
        font-size: -moz-calc(33/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(33/var(--vw)*var(--multiplier) - 25%);
    }

    .newfooter .newcontainer .footerblock ul li a
    {
        font-size: -moz-calc(20/var(--vw)*var(--multiplier) - 25%);
        font-size: calc(20R/var(--vw)*var(--multiplier) - 25%);
    }

    .sixthsection  .overlaybannehand-bottoms {
        bottom: 0px;
    }
}


@media (min-width:1201px) and (max-width:1499px){
    .roundtext h3{right:-7vw;}
    .roundtext h2{left:-12vw;}
    .nl .roundtext h2{left:-12vw;}
    .de .roundtext h3{right:-20vw;}
    .de .roundtext h2{left:-15vw;}
    .roundtext h2,.roundtext h3{font-size:-moz-calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));font-size:calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));}
    .de .roundtext-hetmenu h3{right:-27vw;line-height:120%;}
    .de .roundtext-hetmenu h2{left:-1vw;}
    .de .roundtext-impact h3{right:-25vw;line-height:120%;}
    .de .roundtext-impact h2{left:-8vw;}
    .de .roundtext-getintouch h3{right:-27vw;}
    .de .roundtext-getintouch h2{left:-22vw}
    .banner_title_text h1,.gradient-purple h4,.fourthsection .gradient-purple h4{font-size:-moz-calc(40px + (130 - 80) * ((100vw - 300px) / (1600 - 300)));font-size:calc(40px + (130 - 80) * ((100vw - 300px) / (1600 - 300)));}
    .bannerrotate_text{right:4vw;}
    .en .bannerrotate_text{right:0vw;}
    #section5 .whitewithvideomainboxs{padding:170px 0 210px;}
}


@media screen and (min-width:3840px){
    .banner_title_text,.banner_title_text h1{font-size:-moz-calc(50/var(--vw)*var(--multiplier));font-size:calc(50/var(--vw)*var(--multiplier));}
    .bannerrotate_text{max-width:600px;line-height:1;}
    a.banner_bottombtn{height:auto;width:auto;max-width:-webkit-max-content;max-width:-moz-max-content;max-width:max-content;padding:45px;}
    .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:50%;}
    .fl-tests .swiper-slide .module{max-width:100%;width:100%;-ms-flex:0 0 100%;-webkit-flex:0 0 100%;-moz-box-flex:0;-webkit-box-flex:0;flex:0 0 100%;}
    .fl-tests .module .wharpeoplebox{width:-moz-calc(100% - 50px);width:calc(100% - 50px);max-width:-moz-calc(100% - 50px);max-width:calc(100% - 50px);}
    a.locatebutton{height:auto;padding:45px;}
    .thirdesection .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:50%;width:100%;}
    .fourthsection .whitebgbox .whitewithvideomainbox .righttextbox{width:50%;max-width:50%;}
    .fourthsection .whitebgbox .whitewithvideomainbox .righttextbox h5{width:100%;max-width:100%;}
    .fourthsection .whitebgbox .whitewithvideomainbox .righttextbox p{width:100%;max-width:100%;}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox img{width:100%;margin-left:auto;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;position:relative;top:-380px;margin-bottom:-330px;right:8vw;-webkit-transform:scale(2.1);-moz-transform:scale(2.1);-ms-transform:scale(2.1);-o-transform:scale(2.1);transform:scale(2.1);}
    #section5 .whitebgbox .whitewithvideomainbox .leftvideobox h4{max-width:50%;line-height:1;}
    #section5 .whitebgbox .whitewithvideomainboxs .righttextbox h3{max-width:100%;line-height:1;}
    #section5 .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:30%;width:30%;}
    .lefttiktoktext{left:-50px;bottom:-340px;}
    .lefttiktoktext p.zoomanimation{line-height:1;}
    .righttiktoktext{right:-100px;bottom:-495px;}
    .coolBeans:before{bottom:-30rem;}
    .locatebutton.coolBeans.whatsapp-btn span svg{width:50px;height:50px;position:relative;top:7px;margin-right:10px;}
    .righttiktoktext p.zoomanimation{line-height:1;}
}


@media (min-width:1282px) and (max-width:1367px){
    .bannerrotate_text{right:10vw;}
    .en .bannerrotate_text{right:4vw;}
}


@media (min-width:1201px) and (max-width:1281px){
    .roundtext h3{right:-7vw;}
    .roundtext h2{left:-12vw;}
    .nl .roundtext h2{left:-12vw;}
    .de .roundtext h3{right:-20vw;}
    .de .roundtext h2{left:-15vw;}
    .roundtext h2,.roundtext h3{font-size:-moz-calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));font-size:calc(40px + (130 - 60) * ((100vw - 300px) / (1600 - 300)));}
    .bannerrotate_text{right:9vw;}
    .en .bannerrotate_text{right:4vw;}
    #section5 .whitewithvideomainboxs{padding:170px 0 210px;}
}

@media (min-width:992px) and (max-width:1199px){
    .headernew{padding:0rem 25px;}
    .headernew nav ul li a{font-size:clamp(16px,5vw,16px);}
    .headernew nav ul.desktop-menu{gap:25px;}
    .roundtext h2{left:-24vw;}
    .roundtext h3{right:-18vw;}
    .secondesection .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar{width:110px;}
    .star,.blackstar,.halfstar{width:15.819px;height:15.831px;}
    .roundtext-hetmenu h2{position:absolute;left:-170px;top:58px;z-index:1;margin:0;}
    .fourthsection .whitewithvideomainbox{padding-bottom:0;}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox img{margin-bottom:-13rem;}
    .fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox .bluearrowbottom{position:relative;top:0;left:12em;margin-bottom:0;}
    .fifthesection .gradient-threebox ul li:nth-child(1) .threeboxleftlogobar{position:absolute;right:25px;top:5px;-webkit-transform:rotate(-10deg);-ms-transform:rotate(-10deg);-moz-transform:rotate(-10deg);-o-transform:rotate(-10deg);transform:rotate(-10deg);z-index:1;width:100px;}
    .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar.lastbottomimg{width:100px;position:absolute;z-index:2;bottom:0;right:0;}
    .nl .roundtext-getintouch h3{font-size:clamp(20px,10vw,80px);}
    .nl .roundtext-getintouch h2{font-size:clamp(20px,10vw,80px);}

    /*.likeimagelist img:nth-childimg(2){display:block;position:relative;top:-19vh;-webkit-transform:translate3d(10px,10px,10px);-moz-transform:translate3d(10px,10px,10px);transform:translate3d(10px,10px,10px);left:0vw;}
    .likeimagelist img:nth-child(3){display:block;position:relative;top:-17vh;-webkit-transform:translate3d(10px,10px,10px);-moz-transform:translate3d(10px,10px,10px);transform:translate3d(10px,10px,10px);left:-9vw;}
      */
    .righttiktoktext{position:absolute;right:-6vw;width:100%;max-width:332px;bottom:-73px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;}
    .lefttiktoktext{position:absolute;left:-6vw;width:100%;max-width:332px;bottom:-73px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;}
    .sixthsection .whitebgbox .socialtitle h3{margin:80px auto 40px;}
    .sixthsection .gradient-purple .whitebgbox .appcontainers h4{font-size:35px;margin-bottom:30px;}

    /*    .likeimagelist img:nth-child(1){top:15vh;}*/
    .thirdesection .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:577px;width:50%;}
    .arrowimagetouch,.arrowimagetouchone{display:none;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop ul.categotyfilter{width:100%;}
    .img-containerss{height:495px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;top:70px;margin-bottom:70px;}
    #section5 .whitebgbox .whitewithvideomainboxs .leftvideobox{margin-bottom:30px;}
    .img-container{height:495px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;margin-bottom:140px;margin-top:70px;top:70px;}
    .image-wrapper,.image-wrappers{width:100%;max-width:400px;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;        /* overflow: hidden; */position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
    .secondesection .gradient-threebox .image-wrapper:nth-child(1) .threeboxleftlogobar{position:absolute;right:inherit;top:-50px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:9;width:160px;left:24px;}
    .fifthesection .gradient-threebox .image-wrappers:nth-child(1) .threeboxleftlogobar{position:absolute;right:inherit;top:-55px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:1;width:150px;left:24px;}
    .whitebgbox .whitewithvideomainbox .righttextbox p ul li span{width:60px;}
    #section2 .whatpeople-section .fl-tests{width:100%;overflow:hidden;margin:60px 0 10px;width:-moz-calc(100vw - 0px);width:calc(100vw - 0px);position:relative;left:50%;right:50%;margin-left:-50vw;margin-right:-50vw;}
    .fl-tests .swiper-slide .module{margin:0;max-width:-moz-calc(100% - 50px);max-width:calc(100% - 50px);width:-moz-calc(100% - 50px);width:calc(100% - 50px);-webkit-box-flex:0;-ms-flex:0 0 calc(100% - 50px);-webkit-flex:0 0 calc(100% - 50px);-moz-box-flex:0;flex:0 0 calc(100% - 50px);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;}
    .fl-tests .module .wharpeoplebox{width:100%;max-width:100%;}
    .scroll-down{position:absolute;bottom:0px;height:100px;z-index:1;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;cursor:auto;width:150px;}
    .bottomsection .scroll-down{top:50%;}
    .sixthsection .main-accordian{border-top:solid 2px #0D1E4D;padding-top:30px;margin-top:20px;}
    .arrowimage{width:38px;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .friet-category:nth-child(1) h2,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .snack-category:nth-child(1) h2{color:#FFF;text-align:center;font-family:'Optima';font-size:20.822px;font-style:normal;font-weight:700;line-height:normal;background:none;-webkit-background-clip:text;-webkit-text-fill-color:#FFF;margin-bottom:20px;margin-top:0px;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .menu-item p{font-size:18.776px;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .friet-category:nth-child(2) h2,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .snack-category h2,.fourthsection .whitebgbox .menudynamic.onlydesktop .menu-section .drinks-category h2{font-size:20.822px;}
    .fourthsection .whitebgbox .menudynamic.onlydesktop .menu-item .menutextdetails p.summerytext small{font-size:12.533px;}
    .sixthsection .roundtext-getintouch h3{width:105%;left:80%;}
    .likeimagelist img:nth-child(1){left:-110px;}
    .likeimagelist img:nth-child(2){left:-121px;}
    .likeimagelist img:nth-child(3){right:-100px;}
    .likeimagelist img:nth-child(4){right:-115px;}
    .bottomsection .scroll-down p,.scroll-down p{width:100%;}
}

@media (min-width:768px) and (max-width:991px){
    .rightsidebullets{display:none;}
    .fourthsection .whitewithvideomainbox{margin:0;}
    .likeimagelist{display:none;}
    .secondesection .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar.lastbottomimg,.fifthesection .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar.lastbottomimg{position:absolute;z-index:2;right:-15px;bottom:10px;top:inherit;left:inherit;-webkit-transform:inherit;-ms-transform:inherit;-moz-transform:inherit;-o-transform:inherit;transform:inherit;width:90px;}
    .secondesection .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar{position:absolute;top:20px;left:19px;z-index:9;-webkit-transform:rotate(-8deg);-ms-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);transform:rotate(-8deg);width:90px;}
    .gradient-threebox ul{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;-webkit-perspective:1000px;-moz-perspective:1000px;perspective:1000px;overflow:hidden;height:530px;}
    .gradient-threebox ul li{width:355px;height:432px;position:absolute;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;}
    .fourthsection .gradient-threebox-menu ul li .bordrframe img{width:100%;padding:0;}
    #section5 .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:100%;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;width:100%;position:relative;}
    #section5 .whitebgbox .whitewithvideomainbox .righttextbox{max-width:100%;margin-right:0;padding-left:0;width:inherit;}
    .righttiktoktext{position:absolute;right:-55px;width:100%;max-width:332px;bottom:-73px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;}
    .lefttiktoktext{position:absolute;left:-55px;width:100%;max-width:332px;bottom:-72px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;}
    .righttiktoktext img{display:none;}
    .lefttiktoktext img{display:none;}
    .banner_title_text h1{font-size:clamp(20px,8vw,110px);}
    .roundimages .bannersectinlogo{display:none;}
    .menu-open .headernew{z-index:999;}
    .en .sixthsection .roundtext-getintouch h3{max-width:315px;right:-300px;bottom:-78px;}
    .language-switcher{top:18px;}
    .secondesection .gradient-threebox .image-wrapper:nth-child(1) .threeboxleftlogobar{position:absolute;right:0;top:-50px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:9;width:160px;left:10px;}
    .fifthesection .gradient-threebox .image-wrappers:nth-child(1) .threeboxleftlogobar{position:absolute;right:0;top:-55px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:1;width:150px;left:0;}
    .arrowimagetouch,.arrowimagetouchone{display:none;}
    .thirdesection .whitebgbox .whitewithvideomainbox .leftvideobox{max-width:100%;}
    .secondesection .gradient-threebox .image-wrapper:nth-child(1) .threeboxleftlogobar{position:absolute;right:inherit;top:-50px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:9;width:160px;left:24px;}
    .fifthesection .gradient-threebox .image-wrappers:nth-child(1) .threeboxleftlogobar{position:absolute;right:inherit;top:-55px;-webkit-transform:rotate(-15deg);-ms-transform:rotate(-15deg);-moz-transform:rotate(-15deg);-o-transform:rotate(-15deg);transform:rotate(-15deg);z-index:1;width:150px;left:24px;}
    .img-containerss{height:495px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;top:70px;}
    .img-container{height:495px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;margin-bottom:140px;margin-top:70px;top:70px;}
    .image-wrapper,.image-wrappers{width:100%;max-width:50%;height:100%;-o-object-fit:cover;object-fit:cover;-o-object-position:center;object-position:center;        /* overflow: hidden; */position:absolute;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
    .img-containerss{height:495px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;padding-bottom:0px;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;-moz-box-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;        /* overflow: hidden; */position:relative;top:70px;margin-bottom:70px;}
    #section5 .whitebgbox .whitewithvideomainboxs .leftvideobox{margin-bottom:30px;}
    .fl-tests .swiper-slide .module{margin:0;max-width:-moz-calc(100% - 50px);max-width:calc(100% - 50px);width:-moz-calc(100% - 50px);width:calc(100% - 50px);-webkit-box-flex:0;-ms-flex:0 0 calc(100% - 50px);-webkit-flex:0 0 calc(100% - 50px);-moz-box-flex:0;flex:0 0 calc(100% - 50px);display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;}
    .fl-tests .module .wharpeoplebox{width:100%;max-width:100%;}
    .scroll-down{position:absolute;bottom:0px;height:90px;z-index:1;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-webkit-justify-content:center;-moz-box-pack:center;-ms-flex-pack:center;justify-content:center;cursor:auto;width:170px;}
    .bottomsection .scroll-down{top:85%;}
    .sixthsection .main-accordian{border-top:solid 2px #0D1E4D;padding-top:30px;margin-top:20px;}
    .bottomsection .scroll-down p,.scroll-down p{width:100%;}

}

@media (max-width:767px){
    .secondesection .gradient-threebox ul li:nth-child(2) .threeboxleftlogobar{position:absolute;top:0;left:0;z-index:9;-webkit-transform:rotate(-8deg);-ms-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);transform:rotate(-8deg);width:60px;}
    .secondesection .whitebgbox .whitewithvideomainbox .righttextbox h5{margin-top:50px;}
    .fourthsection .whitebgbox .whitewithvideomainbox .righttextbox p,.fourthsection .whitebgbox .whitewithvideomainbox .leftvideobox p{width:100%;font-size:12px;line-height:16px;}
    .bottomwhatsapp a.Whatsappbtn{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;margin:15px 0;width:175px;padding:6px 10px;height:35px;line-height:35px;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center;}
    .righttextbox a.Whatsappbtn.btn--snakeBorder{width:175px;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;margin:15px 0;width:175px;padding:6px 10px;height:35px;line-height:35px;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;-ms-flex-line-pack:center;-webkit-align-content:center;align-content:center;}
    .bottomwhatsapp a.Whatsappbtn svg{width:30px;height:30px;margin:0 10px;position:relative;left:-5px;fill:#0D1E4D;top:0px;}
    .righttextbox a.Whatsappbtn.btn--snakeBorder svg{width:30px;height:30px;margin:0 10px;position:relative;left:-5px;fill:#0D1E4D;top:0px;}
    a.Whatsappbtn{width:-webkit-max-content;width:-moz-max-content;width:max-content;height:20px;-ms-flex-negative:0;-webkit-flex-shrink:0;flex-shrink:0;font-size:12px;line-height:12px;padding:10px;}
    .headernew{position:fixed;z-index:11;}
    .language-switcher{z-index:11;}
    .roundtext h3{right:-140px;}
    .roundtext h2{left:-180px;}
    .bannersectinlogo{display:none;}
    .bottomsection{display:none;}
    .menu-open .headernew{z-index:999;}
    .wrappermain img.media{-o-object-fit:cover;object-fit:cover;}
    .fifthesection .gradient-threebox .image-wrappers:nth-child(2) .threeboxleftlogobar.lastbottomimg{position:absolute;z-index:2;right:0;bottom:40px;top:93%;left:94%;-webkit-transform:inherit;-ms-transform:inherit;-moz-transform:inherit;-o-transform:inherit;transform:inherit;width:50px;height:35px;}
    .secondesection .wrappertest .gradient-purple .accordion-content p,.sixthsection .wrappertest .gradient-purple .accordion-content p{width:-moz-calc(100% - 0em);width:calc(100% - 0em);max-width:100%;padding-left:0px;padding-right:0px;}
    .accordion-item button.accordion-header:hover{width:-moz-calc(100% - 0em);width:calc(100% - 0em);}
    .accordion-item button.accordion-header:hover{-webkit-transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);-moz-transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);transform:translate3d(0em,0px,0px) scale3d(1,1,1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg,0deg);}
    .accordion-item button.accordion-header:hover span.icon{right:0;}
    .sixthsection .main-accordian{margin-top:30px;}
    #section6 .accordion-item button.accordion-header:hover{width:-moz-calc(90% - 0em);width:calc(90% - 0em);}
    #section6 .accordion-header.active .icon{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);right:-37px!important;}
    #section6 .accordion-item button.accordion-header:hover span.icon{right:-45px;}
    .sixthsection .gradient-purple h4{margin-top:30px;}
    .sixthsection .appcontainers{padding-bottom:0px;padding:0px 0 0;}
    .bottomsection .scroll-down p,.scroll-down p{padding-top:0px;width:85px;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:-moz-linear-gradient(left,#1d2951 0%,#dbe7fc 74%);background:-o-linear-gradient(left,#1d2951 0%,#dbe7fc 74%);background:-webkit-gradient(linear,left top, right top,from(#1d2951),color-stop(74%, #dbe7fc));background:linear-gradient(90deg,#1d2951 0%,#dbe7fc 74%);background-clip:text;-webkit-background-clip:text;background-position:0;color:rgba(0,0,0,.1);-webkit-text-fill-color:transparent;-webkit-animation:shine-4d6fed64 5s linear infinite;-moz-animation:shine-4d6fed64 5s linear infinite;-o-animation:shine-4d6fed64 5s linear infinite;animation:shine-4d6fed64 5s linear infinite;-webkit-animation-fill-mode:forwards;-moz-animation-fill-mode:forwards;-o-animation-fill-mode:forwards;animation-fill-mode:forwards;}
    .scroll-down{display:none;}
    .sixthsection .whitewithvideomainboxss .leftvideobox .leftvideoboxinner form button{line-height:0px;}
}