footer.footer {
    display: none;
}
.newfooter {
    background: #0D1E4D;
    box-shadow: 0px -5px 20px 5px rgba(0, 0, 0, 0.25);
    padding: 60px 0;
}

.newfooter .newcontainer {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 1708px;
    margin: 0 auto;
}




.newfooter .newcontainer .footerblock h6{
color: #FEDE03;
font-family: 'Rufina', serif;
font-size: 23px;
font-style: normal;
font-weight: 700;
line-height: 25px; /* 108.696% */
background: url('../assets/resizeimgs/plain-gold-background.png');
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
margin: 0 0 30px;
}

.newfooter .newcontainer .footerblock ul li a,
.newfooter .newcontainer .footerblock ul li{
color: #FFF;
font-family: "Work Sans";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 40px; /* 200% */
}


.newfooter .newcontainer .footerblock ul li a:hover{
color: #f6c738;
}

.newfooter .newcontainer .footerblock .footerlistbox {
    display: flex;
}


.newfooter .newcontainer .footerblock ul.footersociallist {
    display: flex;
    gap: 25px;
}



.newfooter .newcontainer .footerlogo {
    width: 131px;
    margin-right: 95px;
}

.newfooter .newcontainer .allmenulist {
    width: calc(100% - 226px);
    display: flex;
    justify-content: space-between;
}

.newfooter .newcontainer .footerblock .footerlistbox ul {
    margin-right: 50px;
}