.thirdesection {
    background: var(--radical-background,
            radial-gradient(50% 50% at 50% 50%,
                #1e46b3 0%,
                #1c41a8 12.99%,
                #1b3e9e 23.44%,
                #193a95 31.71%,
                #18378d 38.19%,
                #163485 43.26%,
                #15317e 47.31%,
                #142f78 50.7%,
                #132c72 53.82%,
                #122a6c 57.05%,
                #112867 60.77%,
                #112662 65.35%,
                #10245d 71.19%,
                #0f2258 78.66%,
                #0e2053 88.13%,
                #0d1e4d 100%));
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}

.wrapper-onzelocation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.roundtext-onzelocation {
    position: absolute;
    max-width: 36vw;
    max-height: 70vh;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.roundtext-onzelocation h2 {
    position: absolute;
    left: -240px;
    top: 58px;
    z-index: 1;
    margin: 0;
}

.roundtext-onzelocation h3 {
    position: absolute;
    right: -416px;
    bottom: 0;
    margin: 0;
}

.roundtext-onzelocation h2,
.roundtext-onzelocation h3 {
    text-align: center;
    font-family: 'Rufina', serif;
    font-optical-sizing: auto;
    font-size: clamp(20px, 10vw, 130px);
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    background: url('../assets/resizeimgs/plain-gold-background.png');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.roundimage-onzelocation {
    max-width: 100%;
    max-height: 100%;
    background-image: url('../assets/resizeimgs/Onze-friet-_-Transition-page2.png');
    border-radius: 0%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    background-position: center center;
}


.mapicon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='49' height='49' viewBox='0 0 49 49' fill='none' %3E%3Cg clip-path='url(%23clip0_896_191)'%3E%3Cpath d='M24.5 3.0625C20.0344 3.06793 15.7533 4.84428 12.5957 8.00192C9.43805 11.1596 7.6617 15.4407 7.65627 19.9062C7.65099 23.5556 8.8432 27.1059 11.05 30.0125C11.05 30.0125 11.5094 30.6166 11.5832 30.7042L23.7373 45.038C24.1367 45.509 24.8633 45.509 25.2627 45.038L37.4222 30.6976C37.4874 30.6194 37.9123 30.0615 37.9477 30.015C37.9495 30.0127 37.9508 30.0107 37.9524 30.0082C40.1578 27.1027 41.3492 23.554 41.3438 19.9062C41.3383 15.4407 39.562 11.1596 36.4044 8.00192C33.2467 4.84428 28.9656 3.06793 24.5 3.0625ZM24.5 26.0312C23.2886 26.0312 22.1044 25.672 21.0972 24.999C20.0899 24.326 19.3048 23.3694 18.8413 22.2502C18.3777 21.131 18.2564 19.8995 18.4927 18.7113C18.729 17.5232 19.3124 16.4318 20.169 15.5752C21.0256 14.7186 22.117 14.1353 23.3051 13.8989C24.4932 13.6626 25.7248 13.7839 26.844 14.2475C27.9632 14.7111 28.9197 15.4961 29.5928 16.5034C30.2658 17.5106 30.625 18.6948 30.625 19.9062C30.6232 21.5301 29.9773 23.087 28.829 24.2353C27.6808 25.3835 26.1239 26.0294 24.5 26.0312Z' fill='%230D1E4D' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_896_191'%3E%3Crect width='49' height='49' rx='1' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    width: 49px;
    height: 49px;
    flex-shrink: 0;
    display: block;
}


.thirdesection .whitebgbox {
    top: 0px;
    margin-bottom: 0px;
    padding: 0 50px;
    margin-top: 0;
}

.thirdesection .gradient-purple h4 {
    margin-top: 0;
    margin-bottom: 15px;
}


.thirdesection .whitewithvideomainbox {
    padding: 90px 0;
}

.thirdesection .whitewithvideomainbox:nth-child(2) {
    border-bottom: none;
}

.whitebgbox .whitewithvideomainbox .leftvideobox img {
    width: 100%;
}

.locatebutton {
    overflow: hidden;
    color: #EFEBE7;
    text-overflow: ellipsis;
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(20px, 5vw, 23px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border: solid 2px #f6c738;
    width: 381px;
    height: 47px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 15px auto 70px;
    border-radius: 50px;
    position: relative;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
}

.locatebutton:hover {
    color: #fff;
    border-color: #f6c738;
}

.locatebutton:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    -webkit-transform: translate(-100%, 0) rotate(50deg);
    -ms-transform: translate(-100%, 0) rotate(50deg);
    transform: translate(-100%, 0) rotate(50deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    background-color: #f6c738;
    z-index: -1;
    content: '';
}

.locatebutton:hover:before {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

.locationmaoaddress {
    display: flex;
    align-items: center;
    align-content: center;
}

.locationmaoaddress .locationicon {
    margin-right: 15px;
}

.locationaddtext ul li {
    color: #0D1E4D;
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(20px, 5vw, 23px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}

.whitebgbox .whitewithvideomainbox .righttextbox h5 {
    font-size: clamp(20px, 5vw, 60px);
}

.whitebgbox .whitewithvideomainbox .righttextbox .routbtn {
    overflow: hidden;
    color: #0D1E4D;
    text-overflow: ellipsis;
    font-family: "Work Sans";
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border: solid 2px #f6c738;
    width: 170px;
    height: 47px;
    flex-shrink: 0;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.25));
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
}

.whitebgbox .whitewithvideomainbox .righttextbox .routbtn:hover {
    color: #fff;
    border-color: #f6c738;
}

.whitebgbox .whitewithvideomainbox .righttextbox .routbtn:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 30px;
    -webkit-transform: translate(-100%, 0) rotate(50deg);
    -ms-transform: translate(-100%, 0) rotate(50deg);
    transform: translate(-100%, 0) rotate(50deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    background-color: #f6c738;
    z-index: -1;
    content: '';
}

.whitebgbox .whitewithvideomainbox .righttextbox .routbtn:hover:before {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}