.page.menumainppage{margin:0;z-index:9;position:relative;}
.policy section.mainmenusection{display:block;}
.policy .mainmenusection .topmenublock h1{line-height:125%}
.policy .whightimagebf .content p{color:#0d1e4d;font-family:'Work Sans';font-optical-sizing:auto;font-size:clamp(20px,6vw,16px);font-style:normal;font-weight:400;line-height:normal;margin-bottom:15px;}
.policy .whightimagebf .content ul{margin-bottom:15px;margin-top:15px;}
.policy .whightimagebf .content ul li{color:#0d1e4d;font-family:'Work Sans';font-optical-sizing:auto;font-size:clamp(20px,6vw,20px);font-style:normal;font-weight:400;line-height:normal;margin-bottom:10px;}
.policy .whightimagebf .content p a{text-decoration:underline;color:#0d1e4d;}
.policy .whightimagebf .content p a:hover{color:#f6c738;}
.policy .whightimagebf .content p:last-child{margin-bottom:0;padding-bottom:15px;}
.policy .whightimagebf .content p:first-child {margin-top: 30px;}